/* ========== Header基盤 ========== */
.header {
    width: 100%;/*画面いっぱいに広げる */
    background: black;
}

.header__inner {
    height: 80px;
    margin: 0 auto;/* 中央寄せ */
    padding: 0px 20px;/* 端が詰まらないように少し余白 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ========== ロゴマーク ========== */
.header__logo {
    width: 370px;
    height: 36px;
}

/* ========== Search Form ========== */
.header__center {
    flex: 1;/* 残りスペースを占有 */
    display: flex;
    justify-content: center;/* 中央に寄せる */
}

.search-form{
    width: 563px;/* 伸びすぎ防止 */
}

.search-form__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

/* ========== Nav部分 ========== */
.header__right {
    display: flex;
    gap: 15px;/* ボタン間の余白 */
    align-items: center;
}

.header__nav{
    display: flex;/*子要素を横並びに*/   
    justify-content: center;/* 右端に揃える */
    align-items: center;/* 縦中央 */
    width: 463px;
    gap: 15px;/* ボタン間の余白 */
    flex-shrink: 0;/* つぶれないように固定 */
}

/* ========== Logout Form ========== */
.logout-form{
    display: flex;
    justify-content: center;
}

.logout-form button{
    background: none;
    border: none;/* ボーダーなし */
    color: #FFFFFF;
    text-decoration: none;/* 下線なし */
    cursor: pointer;
    width: 135px;
    height: 47px;
    font-size: 24px;
    font-weight: 400;
    line-height:25px;
    display: flex;/* ボタン内の文字も中央揃えにする */
    align-items: center;
    justify-content: center;
    line-height: normal;/* line-heightはflexで中央揃え */
}



/* ========== Nav Common ========== */
.nav__item {
    background: none;
    border: none;/* ボーダーなし */
    text-decoration: none;/* 下線なし */
    cursor: pointer;
    text-align: center;
    display: flex;/* ボタン内の文字も中央揃えにする */
    align-items: center;
    justify-content: center;
    line-height: normal;/* line-heightはflexで中央揃え*/
    width: 135px;
    height: 47px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.nav__item:hover {
    opacity: 0.7;
}

.nav__item--button{
    display: flex;/* ボタン内の文字も中央揃えにする */
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #fff;
    color:black;
    padding: 12px 25px;
    border-radius: 4%;
    text-decoration: none;/* 下線なし */
    text-align: center; 
    font-size: 24px;
    font-weight: 400;  
    color: #000000; 
    cursor: pointer;
}

.nav__item--button:hover {
    opacity: 0.7;
}


/* ========== レスポンシブ対応(max-width: 900px → 画面幅が 900px以下 のときだけ中のスタイルが有効に／今回不要だが念のため記述) ========== */
@media (max-width: 900px) {
    .header__inner {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 10px;
    }

    .search-form {
        width: 100%;
        order: 3;
        /* 検索フォームを下に */
    }

    .header__nav {
        order: 2;
    }

    .header__logo {
        order: 1;
    }
}