/*プロフィール設定画面・プロフィール画面(表示)共通*/

/* ========== ページ全体========== */
.mypage-page {
    width: 100%;
    display: flex;
    justify-content: center;
    /* 横方向センター */
    align-items: center;
    /* 縦方向センター */
    padding: 59px 20px;
    /* 画面端が詰まらないように余白 */
}

/* ========== ページと入力部分の境 ========== */
.mypage-form {
    max-width: 680px;
}

/* ========== 入力部分全体 ========== */
.mypage-form__content {
    width: 680px;
    margin: 0 auto;
}

/* ========== 入力部分中身 ========== */
/* ========== タイトル ========== */
.tit {
    width: 100%;
    height: 46.04px;
    text-align: center;
    margin-bottom: 30px;
}

.mypage-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}

/* ========== 入力コンテンツ========== */
/* ========== プロフィール画像========== */
.image-upload-wrapper {
    display: flex;
    /* 横並びにする */
    align-items: center;
    /* 縦方向の中央揃え */
    gap: 20px;
    /* 画像とボタンの間の余白 */
}

.image-preview-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #D9D9D9;
    display: flex;/*丸い枠の中で画像や中身を真ん中に整列するため*/
    justify-content: center;/*丸い枠の中で画像や中身を真ん中に整列するため*/
    align-items: center;/*丸い枠の中で画像や中身を真ん中に整列するため*/
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;/*画像を枠に収める(画像の縦横比を維持したまま、枠いっぱいに表示／枠より大きい部分は切り取られる)*/
    display: none;/*「画像プレビュー」というデフォ表示を消す*/
}

.custom-file-button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #FF5555;
    border-radius: 5px;
    border: 2px solid #FF5555;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    margin-left: 40px;
}

/* ========== 入力項目========== */
.content-name {
    display: block;
    width: 680px;
    height: 33.86px;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}

.content-item {
    width: 100%;
    height: 57.09px;
    margin-top: 5px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

.content-item::placeholder {
    color: #B9B9B9;
}

/* ========== エラーメッセージ========== */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/* ========== ボタン郡========== */
/* ========== ログイン・会員登録ボタン========== */
.mypage__button {
    display: flex;
    flex-direction: column;
    /* ← 横並び→縦並びに変更 */
    align-items: center;
    /* ← 子要素を中央揃え */
    gap: 10px;
    margin-top: 70px;
}

.mypage__button-submit {
    width: 100%;
    height: 65.25px;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    background: #FF5555
}

.mypage__button-submit:hover {
    background-image: linear-gradient(90deg,
            rgba(255, 183, 227, 1),
            rgba(255, 247, 216, 0.35),
            rgba(246, 190, 232, 0.65),
            rgba(243, 170, 243, 0.6));
}


/* ========== ログインページ・課員登録ページへのリンク========== */
.login__button {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #0073CC;
}

.register__button {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #0073CC;
}