/*商品一覧ページ*/
/* ========== ヘッダー部分========== */
.product-tab{
    border-bottom: 2px solid #000;
        /* 太さ2px、実線の黒い下線を引く */
}

.product-tab__list {
    display: flex;/* 横並び */
    gap: 20px;/* タブ間の余白 */
    list-style: none;/* デフォルトのマーカーを消す */
    padding: 0;
    margin-top: 47px;
}

.product-tab__link {
    text-decoration: none;/* 下線なし */
    color: black;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 10px;/* クリックしやすい余白 */
    transition: color 0.2s;
    margin-left: 129px;
}

/* 選択中のタブ */
.product-tab__link--active {
    color: red;/* 赤文字 */
    font-weight: 700;
}


/* ========== main部分全体========== */
.product-list{
    width: 100%;
    margin-top: 76.39px;/*250.39px(リストまでの距離)-174px(共通ヘッダーとタブまでの距離127px＋タブの高さ47px))*/
    margin-bottom: 10px;
}


/* ========== 各商品カード========== */
.product-list__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px 70px;
    padding: 0;
    margin: 0 69px;
    list-style: none;
}

/* カード全体 */
.product-list__item{
    width: 290px;/* 固定横幅 */
    height: 320px;/* 固定高さ */
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;/* 中央寄せ */
    /* justify-content: space-between;画像と商品名を上下に配置 */
    overflow: hidden;
}

.product-list__item:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

/* カード内の画像 */
.product-list__item a img {
    width: 100%;/* カード横幅に合わせる */
    height: 290px;
    object-fit: cover;/* 余白を作らず画像をカードに収める */
    display: block;
}

.row-name {
    width: 290px;
    height: 30px;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;/*「削除」＝ブラウザまかせ（勝手に余白つく）になってしまうので0で制御*/
}



/*商品詳細ページ*/
